<!-- <ion-header>
  <ion-toolbar >
    <ion-title>
      SabiBook
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <ion-grid fullscreen *ngIf="item">

    <ion-row>
      <ion-col>
        <ion-item>
        <ion-label>Select Subject:</ion-label>
        <ion-select (ionChange)="changeSubject($event)" interface="popover">
          <ion-select-option value="physics">Physics</ion-select-option>
          <ion-select-option value="chemistry">Chemistry</ion-select-option>
          <ion-select-option value="geography">Geography</ion-select-option>
          <ion-select-option value="english">English</ion-select-option>
          <ion-select-option value="mathematics">Mathematics</ion-select-option>
          <ion-select-option value="biology">Biology</ion-select-option>
          <ion-select-option value="commerce">Commerce</ion-select-option>
          <ion-select-option value="literature">Literature</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title color="primary">Question</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <h1>{{item.data.question}}</h1> 
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>



        <ion-list padding>
      
          <ion-radio-group allow-empty-selection (ionChange)="handlevalue($event)">
            <ion-item [ngClass]="{'green-answer': !!gotIt && userAnswer === 'a'}">
              <ion-label>{{item.data.option.a}}</ion-label>
              <ion-radio  slot="start" color="primary" value="a"></ion-radio>
            </ion-item>
      
            <ion-item [ngClass]="{'green-answer': !!gotIt && userAnswer === 'b'}" >
              <ion-label>{{item.data.option.b}}</ion-label>
              <ion-radio slot="start" color="primary" value="b"></ion-radio>
            </ion-item>
      
            <ion-item [ngClass]="{'green-answer': !!gotIt && userAnswer === 'c'}" >
              <ion-label>{{item.data.option.c}}</ion-label>
              <ion-radio slot="start" color="primary" value="c"></ion-radio>
            </ion-item>
      
            <ion-item [ngClass]="{'green-answer': !!gotIt && userAnswer === 'd'}" >
              <ion-label>{{item.data.option.d}}</ion-label>
              <ion-radio slot="start" color="primary" value="d"></ion-radio>
            </ion-item> 
      
          </ion-radio-group>
      
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large" (click)="handleSubmit()" margin-top>Submit</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>


  <div *ngIf="!item">
    <div class="ion-padding custom-skeleton">
      <ion-card>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-card>
    </div>
  
    <ion-list>
      
      <ion-item>
        <ion-radio slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-radio>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-radio slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-radio>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-radio>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-radio>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
    <ion-item  color="medium" size="large"> <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-item>
  </div>
  
    
</ion-content>
